include README.rst
include CHANGES.rst

include find_cython.py
include setup.cfg

recursive-include cosmo_utils *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api


global-exclude *.pyc *.o
